body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: calc(100vh - 150px);
  gap: 10px;
}



.thumbnail {
  max-width: 100%;
  /* max-height: 100%;
  width: auto; */
  height: 100%;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
}

#drop-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1; /* lower z-index value */
}

#drop-zone p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 0.8em;
}


#drop-zone.highlight {
  background-color: #c3c3c3;
}

.spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner .dot1,
.spinner .dot2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 5px;
  animation: bounce 0.5s infinite alternate;
}

.spinner .dot1 {
  animation-delay: 0.1s;
}

.spinner .dot2 {
  animation-delay: 0.2s;
}

@keyframes bounce {
  to {
    transform: translateY(-5px);
  }
}

/* Slider styles */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
}


#floating-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
  z-index: 2; /* higher z-index value */
}